/* ==========================
        CALENDÁRIO
============================*/
.calendar {
  border-radius: 8px;
  margin: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 100ms;
  background-color: transparent;
  background-color: none;
  box-shadow: none !important;
  margin-top: 0; 
}
  .calendar:insensitive {
    transition-duration: 100ms;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5); 
  }
  .calendar:focus {
    transition-duration: 100ms;
    color: white;
    background-color: #3e4650;
    box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); 
  }
    .calendar:focus:hover {
      background-color: #454d56;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); 
    }
    .calendar:focus:active {
      background-color: #4c545d;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); 
    }
  .calendar:hover {
    transition-duration: 100ms;
    color: white;
    background-color: #e2e2e2; 
  }
  .calendar:active {
    transition-duration: 100ms;
    color: white;
    background-color: #dbdbdb; 
  }
  .calendar .calendar-month-header .calendar-change-month-back StIcon,
  .calendar .calendar-month-header .calendar-change-month-forward StIcon {
    icon-size: 1.09em; 
  }
  .calendar .calendar-month-header .calendar-month-label {
    color: #303030;
    padding: 8px 0; 
  }
  .calendar .calendar-month-header .pager-button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    margin: 2px;
    border-radius: 6px; 
  }
    .calendar .calendar-month-header .pager-button:hover, .calendar .calendar-month-header .pager-button:focus {
      background-color: #e2e2e1; 
    }
    .calendar .calendar-month-header .pager-button:active {
      background-color: #dbdbdb; 
    }
  .calendar .calendar-day-base {
    text-align: center;
    margin: 2px;
    padding: 0 !important;
    height: 3em !important;
    width: 3em !important;
    border-radius: 99px;
    transition-duration: 100ms; }
    .calendar .calendar-day-base:hover {
      background-color: #e2e2e1; }
    .calendar .calendar-day-base:focus {
      background-color: #314154;
      color: #fff;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); }
    .calendar .calendar-day-base:active, .calendar .calendar-day-base:selected {
      color: white;
      background-color: #dbdbdb; }
      .calendar .calendar-day-base:active:focus, .calendar .calendar-day-base:selected:focus {
        background-color: #49596c; }
    .calendar .calendar-day-base.calendar-day-heading {
      color: #303030;
      padding-top: 6px;
      height: 16px !important;
      font-weight: bold; }
  .calendar .calendar-nonwork-day {
    color: #303030; }
  .calendar .calendar-other-month-day {
    color: rgba(0, 0, 0, 0.5); }
    .calendar .calendar-other-month-day.calendar-nonwork-day {
      color: rgba(151, 151, 151, 0.5); 
    }
  .calendar .calendar-today {
    background-color: #0ee6a7; /* Botão do dia atual do calendário */
    font-weight: 800;
    color: #fff !important; 
  }
    .calendar .calendar-today:hover, .calendar .calendar-today:focus {
      background-color: #0ee6a7;
      color: inherit; 
    }
    .calendar .calendar-today:active, .calendar .calendar-today:selected {
      background-color: #0ee6a7; /* Botão do dia atual do calendário quando ativo */
      color: inherit; 
    }
      .calendar .calendar-today:active:hover, .calendar .calendar-today:active:focus, .calendar .calendar-today:selected:hover, .calendar .calendar-today:selected:focus {
        background-color: #096d49; /* Botão do dia atual do calendário quando passa o mouse em cima */
        color: inherit; 
      }
  .calendar .calendar-day-with-events {
    background-image: url("resource:///org/gnome/shell/theme/calendar-today.svg");
    background-size: contain; }
  .calendar .calendar-week-number {
    font-size: 7pt;
    font-weight: bold;
    font-feature-settings: "tnum";
    margin: 6px;
    padding: 0 6px;
    border-radius: 3px;
    background-color: #fcfcfc;
    color: #303030; 
  }

/* Date/Time Menu */
#calendarArea {
  padding: 4px; 
  color: black; /* Cor dos textos do "do not disturb" */
}

.datemenu-calendar-column {
  spacing: 6px; }
  .datemenu-calendar-column:ltr {
    padding-left: 6px; }
  .datemenu-calendar-column:rtl {
    padding-right: 6px; }
  .datemenu-calendar-column .datemenu-displays-box {
    spacing: 6px; }

/* today button (the date) */
.datemenu-today-button {
  border-radius: 8px;
  margin: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 100ms;
  background-color: transparent;
  background-color: none;
  box-shadow: none !important;
  padding: 9px; 
}
  .datemenu-today-button:insensitive {
    transition-duration: 100ms;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    background-color: transparent;
    color: #757575; }
  .datemenu-today-button:focus {
    transition-duration: 100ms;
    color: white;
    background-color: #3e4650;
    box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); }
    .datemenu-today-button:focus:hover {
      background-color: #454d56;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
    .datemenu-today-button:focus:active {
      background-color: #4c545d;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
  .datemenu-today-button:hover {
    transition-duration: 100ms;
    color: white;
    background-color: #e2e2e2; 
  }
  .datemenu-today-button:active {
    transition-duration: 100ms;
    color: white;
    background-color: #cdd2d1; 
  }
/* Dia da semana */
.datemenu-today-button .day-label {
    color: #0ee6a7; /* Cor do texto */
  }

/* Data completa embaixo do dia da semana */
.datemenu-today-button .date-label {
    color: #0ee6a7; /* Cor do texto */
}

/* Events */
/* Botão today (no events) */
.events-button {
  border-radius: 8px;
  margin: 4px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
  transition-duration: 100ms;
  color: #333333;
  background-color: #cdd2d1; /* Cor de fundo do botão Today (No Events) */
  padding: 12px; 
}
  .events-button:focus {
    transition-duration: 100ms;
    color: white;
    background-color: #3e4650;
    box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); 
  }
    .events-button:focus:hover {
      background-color: #454d56;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); 
    }
    .events-button:focus:active {
      background-color: #4c545d;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); 
    }
  .events-button:hover {
    transition-duration: 100ms;
    color: #252525;
    background-color: #e2e2e2; 
  }
  .events-button:active {
    transition-duration: 100ms;
    color: #252525;
    background-color: #dbdbdb; 
  }
  .events-button .events-box {
    spacing: 6px; 
  }
  .events-button .events-list {
    spacing: 12px; 
  }
  .events-button .events-title {
    color: #303030;
    margin-bottom: 4px; 
  }
  .events-button .event-time {
    color: #303030; 
  }

/* World clocks */
.world-clocks-button {
  border-radius: 8px;
  margin: 4px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
  transition-duration: 100ms;
  color: white;
  background-color: #fff;
  padding: 12px; }
  .world-clocks-button:focus {
    transition-duration: 100ms;
    color: white;
    background-color: #3e4650;
    box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); }
    .world-clocks-button:focus:hover {
      background-color: #454d56;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
    .world-clocks-button:focus:active {
      background-color: #4c545d;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); }
  .world-clocks-button:hover {
    transition-duration: 100ms;
    color: #353535;
    background-color: #e2e2e2; }
  .world-clocks-button:active {
    transition-duration: 100ms;
    color: #353535;
    background-color: #dbdbdb; }
  .world-clocks-button .world-clocks-grid {
    spacing-rows: 6px;
    spacing-columns: 12px; }
  .world-clocks-button .world-clocks-header {
    color: #303030; }
  .world-clocks-button .world-clocks-city {
    color: #353535; }
  .world-clocks-button .world-clocks-time {
    color: #353535; }
    .world-clocks-button .world-clocks-time:ltr {
      text-align: right; }
    .world-clocks-button .world-clocks-time:rtl {
      text-align: left; }
  .world-clocks-button .world-clocks-timezone {
    color: #303030; }

/* Weather */
/* Botão do tempo */
.weather-button {
  border-radius: 8px;
  margin: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0);
  transition-duration: 100ms;
  color: #898989;
  background-color: #cdd2d1; /* Cor de fundo do weather */
  padding: 12px; 
}
  .weather-button:focus {
    transition-duration: 100ms;
    color: #898989;
    background-color: #3e4650;
    box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.6); 
  }
    .weather-button:focus:hover {
      background-color: #454d56;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); 
    }
    .weather-button:focus:active {
      background-color: #4c545d;
      box-shadow: inset 0 0 0 2px rgba(53, 132, 228, 0.7); 
    }

/* Quando passa o mouse em cima do weather (previsão do tempo)*/
  .weather-button:hover {
    transition-duration: 100ms;
    color: #4bfffe; /* Cor do icones quando passa o mouse em cima */
    background-color: #dbdbdb; /* Cor de fundo quando passa o mouse em cima */
}
  .weather-button:active {
    transition-duration: 100ms;
    color: #898989;
    background-color: #dbdbdb; 
  }
  .weather-button .weather-box {
    spacing: 10px; }
  .weather-button .weather-header-box {
    spacing: 6px; }
  .weather-button .weather-header {
    color: #303030; }
    .weather-button .weather-header.location {
      font-weight: normal; }
  .weather-button .weather-grid {
    spacing-rows: 6px;
    spacing-columns: 12px; }
  .weather-button .weather-forecast-time {
    color: #909090;
    padding-top: 0.2em;
    padding-bottom: 0.4em; }
  .weather-button .weather-forecast-icon {
    icon-size: 2.18em; 
  }

/* Botão Clear (Limpar Tudo) do calendário */
.message-list-clear-button.button {
  color: #fff; /* Cor do texto do botão */
  background-color: #0ee6a7; /* Cor do botão */
}

/* Message List */
.message-list {
  width: 29em;
  border: solid rgba(255, 255, 255, 0.1); }
  .message-list:ltr {
    margin-left: 0;
    margin-right: 4px;
    padding-right: 6px;
    border-right-width: 1px; }
  .message-list:rtl {
    margin-right: 0;
    margin-left: 4px;
    padding-left: 6px;
    border-left-width: 1px; }
  .message-list .message-list-placeholder {
    color: rgba(151, 151, 151, 0.5); }
    .message-list .message-list-placeholder > StIcon {
      icon-size: 3.27em;
      margin-bottom: 12px;
      -st-icon-style: symbolic; }

.message-list-sections {
  spacing: 6px;
  margin: 0;
  padding-bottom: 6px; }
  .message-list-sections:ltr {
    margin-right: 12px; }
  .message-list-sections:rtl {
    margin-left: 12px; }

.message-list-section,
.message-list-section-list {
  spacing: 6px; }

.message-list-controls {
  padding: 6px;
  spacing: 6px; }
  .message-list-controls .dnd-button {
    border-width: 2px;
    border-color: transparent;
    border-radius: 32px;
    border-style: solid; }
    .message-list-controls .dnd-button:focus {
      border-color: rgba(53, 132, 228, 0.6); }

.message {
  border-radius: 8px;
  margin: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0);
  transition-duration: 100ms;
  color: #303030;
  background-color: #cdd2d1; 
}


/* Media Controls */
/* Cor dos botões (pausar, avançar, retroceder) do player de media no calendário */
.message-media-control {
  padding: 0 18px;
  margin: 12px 0;
  border-radius: 8px;
  color: #4bfffe; 
}
  .message-media-control:hover {
    background-color: #cfcfcf;
    color: #4bfffe; 
  }
  .message-media-control:active {
    background-color: #cacaca;
    color: #4bfffe; 
  }
  .message-media-control:insensitive {
    color: #4bfffe; 
  }
  .message-media-control:last-child:ltr {
    margin-right: 12px; 
  }
  .message-media-control:last-child:rtl {
    margin-left: 12px; 
  }

.media-message-cover-icon {
  icon-size: 3.27em !important;
  border-radius: 8px; 
}
  .media-message-cover-icon.fallback {
    color: #d4d4d4;
    background-color: #f7f8f9;
    border: 1px solid transparent;
    border-radius: 8px;
    icon-size: 2.18em !important;
    padding: 14px; 
  }

.candidate-popup-content {
  padding: 6px;
  spacing: 6px; 
}

.candidate-index {
  padding: 0;
  padding-right: 6px;
  color: #303030; 
}

.candidate-box {
  padding: 6px 12px 6px 12px;
  border-radius: 8px; 
}
  .candidate-box:selected {
    background-color: #2e74dd;
    color: #fff; 
  }
  .candidate-box:hover {
    background-color: #e2e2e1;
    color: white; 
  }

.candidate-page-button-box {
  height: 2em; 
}
  .vertical .candidate-page-button-box {
    padding-top: 12px; 
  }
  .horizontal .candidate-page-button-box {
    padding-left: 12px; 
  }

.candidate-page-button {
  padding: 6px; 
}

.candidate-page-button-previous {
  border-radius: 8px 0px 0px 8px;
  border-right-width: 0;
  box-shadow: none; 
}

.candidate-page-button-next {
  border-radius: 0px 8px 8px 0px;
  box-shadow: none; 
}

.candidate-page-button-icon {
  icon-size: 1.09em; 
}